body {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    background: #fff;
    margin: 0;
}
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
* html .row { height: 1%; }
.row { display: block; }
.header{
    padding: 20px 0;

}
.header__logo{
    float:left;
}
.header__logo a {
    display: block;
}
.nav {
    float: right;
}
.nav__link{
    color: black;
    padding: 0 20px;
    text-decoration: none;
}
.nav__link:hover{
    background: black;
    color: white;
    opacity: 1;
    
}
.header__up{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.container-well{
	position: relative;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}	
.container-well h2{
	color: black;
	font-size: 2em;
	padding-bottom: 0.5em;
	text-align: center;
}
.container-well p{
	color: black;
	font-size: 1em;
	padding-bottom: 1em;
	text-align: center;
}
.Portfolio {
	height: 900px;
}
#port-list{
	width: 880px;
	height: 75px;
	list-style: none;
	margin: 2% auto;
	padding: 50px;
}
#port-list li{
	float: left;
	margin: 15px;
}
#port-list .active{
	background: #303030;
	color: #ebebeb;
}
#port-list li span {
	background: #ebebeb;
	padding: 15px 30px;
	text-decoration: none;
	color: #303030;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}
#port-list li span:hover{
	background: black;
	color: #ebebeb;
}
.photos{
	margin-top:2%;
	position:relative;
	height:220px;

}
.inner-photos{
	height:100%;
	min-width:880px;
	max-width:1180px;
	margin-left: auto;
    margin-right: auto;
}
.photos img {
	display:block;
	height:220px;
	width:220px;
	margin-right:100px;
	float:left;
	transition: all 0.1s ease-in-out; /* плавный переход */
}
#last {
	margin-right:0;
}
.photos img:hover {
	opacity:0;
}
.material{
	position: relative;
	height:220px;
	width: 220px;
	margin:0;
	float:left;
	margin-right:100px;
}
.material span{
	font-weight:5000;
	font-size:150%;
	height:220px;
	width:220px;
	position: absolute;
	z-index:-1;
	top:38%;
	left:0;
	opacity:100%;
	text-align: center;
}

.about-me {
	position: relative;
	height: 1080px;
	background: url(../img/nosok_bg2.jpg) no-repeat;
	background-size: 100%;
}
.about-me .title-text h2 {
	color: white;
	font-size: 2em;
	padding-bottom: 0.5em;
	text-align: center;
	padding-top: 10%;
}
.clear{
	clear:both;
}

#first-block-about-me{
	margin-left: 9%;
}
.about-me .grid {
	color: black;
	padding-bottom: 0.5em;
	text-align: center;
	padding-top: 50px;
	margin: 0 1.5% 0 1.5%; 
	width: 25%;
	float: left;
	background-color: #fff;
	border: 5px solid #303030;
	border-radius: 15px;
	transition: border 0.5s;
	transition: margin-top 0.5s;
	
}
.about-me .grid:hover{
	border: 5px solid black;
	margin: -0.2% 1.5% 0 1.5%;
}

.about-me .grid p {
	font-size: 0.8em;
	line-height: 0.5em;
}
.contact-title{
	text-align:center;
}
.null{
	height:500px;
	padding-left:1em;
	margin-bottom:100px;
}

.null input[type="text"], .null input[type="email"], .null textarea{
   width: 42%;
   padding: 15px;
   display: block;
   outline: none;
   background-color: #fff;
   color: #888282;
   font-size: 0.8em;
   float:left;
   margin-right: 2em;
   font-family: Verdana, sans-serif;
   font-style: italic;
   border: 2px solid #cacaca;
   margin-bottom:2em;
}
.null input[type="email"]{
   margin-right: 0em;
}
.null textarea{
   padding: 18px;
   display: block;
   width: 93%;
   height:180px;
   background-color: #fff;
   outline: none;
   color: #888282;
   font-size: 0.8em;
   font-style: italic;
   border:2px solid #cacaca;
   margin-bottom: 2em;
}
.null input[type="submit"] {
   font-size: 1em;
   color:#fff;
   padding: 0.7em 1.4em;
   margin-right: 2%;
   background-color: black;
   border:none;
   display: block;
   cursor: pointer;
   outline: none;
   text-transform: uppercase;
   float: right;
}
.null form {
	float:left;
	width: 50%;
}
.null .inf h4 {
	font-size: 0.8em;
}
.null li {
	list-style-type: none;
	margin: 0;
	height: 30px;
}
.null img {
	width:15px;
	height:15px;
	float: left;
}
.null li h5 {
	float:left;
	margin-top:0;
	margin-bottom:0;
	font-size:0.5em;
	padding-left: 10px;
	font-weight:300;
}
.null ul{
	float:left;
}
.inf {
	float:left;
	border: 2px solid #cacaca;
	padding:0.5em;
}

footer {
   background-color: #343434;
   padding: 24px 0;

}
.copy  {
   font-size: 0.714em;
   line-height: 1.7em;
   color: #656565;
   text-align: center;
   height:100%;
}
.copy a {
   color: white;
}
.copy a:hover {
   color: #a97b7b;
}

